/* Footer ----------------------- */

@import "transform";
$primary-color-b: #86754d;
$primary-color-g: #c3d600;
$primary-color-bl: #1764a1;
footer {
    width: 100%;
    position: relative;
    padding-top: 3%;
    margin-top: 2%;
    &::before {
        content: '';
        width: 100%;
        padding-bottom: 4%;
        background: url(../images/footer-topbg.png) center no-repeat;
        background-size: cover;
        position: absolute;
        top: 0;
        background-color: #fff;
    }
    .container {
        text-align: center;
    }
    .footerBar {
        background-color: #e3e3e3;
        padding: 20px 0 100px;
        p {
            text-align: center;
            font-size: 0.85em;
            line-height: 2em;
            font-weight: lighter;
            color: #7c7373;
        }
    }
}

.footer-icon {
    width: 100%;
    position: fixed;
    bottom: -70px;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    opacity: 0;
    @include transition(all 0.3s ease);
    ul {
        text-align: center;
        >li {
            display: inline-block;
            vertical-align: middle;
            margin: 5px;
            width: 50px;
            height: 50px;
            background: $primary-color-g;
            border-radius: 50%;
            line-height: 50px;
            overflow: hidden;
            @include transition(all 0.3s ease);
            a {
                display: block;
                color: #ffffff;
                width: 100%;
                height: 100%;
            }
            &:nth-child(1) {
                background: url(../images/wbtn_fb.png) center no-repeat;
                background-size: cover;
            }
            &:nth-child(2) {
                background: url(../images/wbtn_line.png) center no-repeat;
                background-size: cover;
            }
            &:nth-child(3) {
                background: url(../images/wbtn_mail.png) center no-repeat;
                background-size: cover;
            }
            @media screen and (min-width: 1024px) {
                &:hover {
                    @include transform(translate(0, -10px));
                }
            }
            &.free999phone {
                display: none;
            }
        }
    }
}

.footer-icon-open {
    bottom: 20px;
    opacity: 1;
}

@media screen and (max-width: 767px) {
    footer .footerBar {
        padding: 20px 0 120px;
    }
    .footer-icon ul>li {
        margin: 0 8px;
        width: 40px;
        height: 40px;
        vertical-align: bottom;
        a {
            font-size: 0.5em;
            line-height: 40px;
        }
        &.free999phone {
            display: inline-block;
            width: 30px;
            height: auto;
            border-radius: 0;
            background: none;
        }
    }
}