<!-- @@master = ../layouts/default.html-->

<!-- @@block  =  head-css -->
<!-- index css -->
<link rel="stylesheet" href="assets/css/index.css">
<!-- @@close -->

<!-- @@block = content -->
<script type="text/javascript">
    $(document).ready(function() {
        $('#fullpage').fullpage({
            anchors: ['firstPage', 'secondPage', '3rdPage', '4thPage'],
            sectionsColor: ['#e8e8e8', '#e8e8e8', '#e8e8e8', '#e8e8e8'],
            scrollOverflow: true,
            css3: true
        });
    });
</script>

<div id="fullpage">
    <div class="section kv" id="section0">
        <div class="kv-content">
            <h1><img src="assets/images/index/kv-title.png" alt="鴻海獎學鯨 您的夢想頻率 被聽見"></h1>
            <div class="scroll">
                <a href="#s2-dream"><img src="assets/images/scroll-down.svg" alt=""></a>
            </div>
            <!-- <div class="playbutton" data-rel="yQVxUICOCWA"></div> -->
        </div>
    </div>
    <div class="section " id="section1">
        <div class="section1-bg">
            <div class="container">
                <div class="s1-title">
                    <h2><img src="assets/images/index/s1-title.png" alt="夢想無限只要你勇敢實踐"></h2>
                </div>
                <div class="s1-content">
                    <div class="hr light-blue"></div>
                    <h2 class="light-blueTxt">什麼是獎學鯨？</h2>
                    <p>生命有無限潛力，生活有無限發展的可能，鴻海教育基金會相信每位學子都有欲追求的理想與夢想，如同鯨魚遨遊於鴻海之中。本會以此信念，特設獎助學金，並取其意命名為「鴻海獎學鯨」。</p>
                </div>
            </div>

            <div class="whale hidden-desktop"></div>
            <div class="container">
                <div class="s1-2-content">
                    <div class="hr light-blue"></div>
                    <h2 class="light-blueTxt">申請辦法</h2>
                    <div class="apply-content">
                        <div class="apply-box">
                            <a class="Card" href="#">
                                <h3>鴻海<br>獎助學金</h3>
                                <p>大專院校生</p>
                                <div class="arrow"></div>
                            </a>
                        </div>
                        <div class="apply-box">
                            <a class="Card" href="#">
                                <h3>科技<br>獎學金</h3>
                                <p>碩博研究生</p>
                                <div class="arrow"></div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section" id="section2">
        <div class="section2-content">
            <div class="container">
                <div class="s2-content">
                    <div class="hr dark-blue"></div>
                    <h2 class="dark-blueTxt">講師分享</h2>
                    <p>展開夢想實踐的第一步，從填寫申請報名開始。</p>
                </div>
            </div>
            <div class="teacherSlick">
                <a class="slideCard" data-rel="kIAs-5qLmTE">
                    <img src="assets/images/index/teacher.jpg" alt="">
                </a>
                <a class="slideCard" data-rel="IGPGuEEhFh0">
                    <img src="assets/images/index/teacher.jpg" alt="">
                </a>
                <a class="slideCard" data-rel="k4V3Mo61fJM">
                    <img src="assets/images/index/teacher.jpg" alt="">
                </a>
                <a class="slideCard" data-rel="gnIZ7RMuLpU">
                    <img src="assets/images/index/teacher.jpg" alt="">
                </a>
            </div>
            <div class="teacherSlick-txt">
                <div class="slideCard">
                    <span class="title">ＯＯＯ×ＯＯＯ</span>
                    <span class="name">如何成為更好的自己</span>
                    <span class="desc">自傳的拍攝手法很多，這樣子介紹更可以讓人印象深刻⋯</span>
                </div>
                <div class="slideCard">
                    <span class="title">ＯＯＯ×ＯＯＯ×ＯＯＯ</span>
                    <span class="name">如何成為更好的自己</span>
                    <span class="desc">自傳的拍攝手法很多，這樣子介紹更可以讓人印象深刻⋯</span>
                </div>
                <div class="slideCard">
                    <span class="title">ＯＯＯ</span>
                    <span class="name">如何成為更好的自己</span>
                    <span class="desc">自傳的拍攝手法很多，這樣子介紹更可以讓人印象深刻⋯</span>
                </div>
                <div class="slideCard">
                    <span class="title">ＯＯＯ×ＯＯＯ×ＯＯＯ×Ｏ</span>
                    <span class="name">如何成為更好的自己</span>
                    <span class="desc">自傳的拍攝手法很多，這樣子介紹更可以讓人印象深刻⋯</span>
                </div>
            </div>
        </div>
    </div>
    <div class="section" id="section3">
        <div class="last-section">
            <div class="hidden-desktop"><img src="assets/images/index/section3-bg.jpg" alt=""></div>
            <div class="bg">
                <div class="content">
                    <div class="hr dark-blue"></div>
                    <h2 class="dark-blueTxt">媒體專題報導</h2>
                    <p>生命有無限潛力，生活有無限發展的可能，鴻海教育基金會相信每位學子都有欲追求的理想與夢想，如同鯨魚遨遊於鴻海之中。本會以此信念，特設獎助學金，並取其意命名為「鴻海獎學鯨」。</p>
                    <div class="button"><a href="#">繼續閱讀</a></div>
                </div>
            </div>
            <div class="shareLink">
                <div class="container">
                    <ul>
                        <li>
                            <a href="#" target="_blank"><img src="assets/images/icon-mail.svg" alt=""></a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/foxconnscholarship/" target="_blank"><img src="assets/images/icon-facebook.svg" alt=""></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- footer -->
        <!-- @@include ../layouts/_footer.html -->

    </div>
</div>
<div id="youtube-vd" class="lightbox youtube-vd">
    <div class="lightbox-box">
        <span class="close_btn" onclick="closebtnVD();"></span>
        <div class="lightbox-content">
            <div class="iframe-wrap">
                <div id="player"></div>
            </div>
        </div>
    </div>
</div>

<!-- @@close -->


<!-- @@block  =  head-js -->
<!-- index js -->
<!-- Youtube API -->
<script>
    // Load the IFrame Player API code asynchronously.
    var tag = document.createElement('script');
    tag.src = "https://www.youtube.com/player_api";
    var firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
</script>
<script src="assets/js/index.js"></script>
<!-- @@close -->