<!-- @@master = ../layouts/default.html-->

<!-- @@block  =  head-css -->
<!-- index css -->
<link rel="stylesheet" href="assets/css/index_p1.css">
<!-- @@close -->

<!-- @@block = content -->

<section class="kv" id="kv">
    <div class="btn-allfree">
        <a href="#"><img src="assets/images/free-btn.png" alt=""></a>
    </div>
</section>

<div class="wrapper">
    <div class="container free999">
        <div id="trigger1"></div>
        <div id="pin1">
            <a href="javascript:;"><img src="assets/images/999free.png" alt=""></a>
        </div>
    </div>
    <section class="section" id="recommend">
        <div class="container">
            <h1><img src="assets/images/recofund-title.png" alt=""></h1>
            <!-- fund 1 -->
            <div class="fund-intro">
                <div class="f-title">安聯收益成長基金-AT累積類股(美元)<br>(本基金有相當比重投資於非投資等級之高風險債券)</div>
                <div class="f-content">
                    <div class="rs-txt"><span>推薦理由：</span>均衡佈局可轉換公司債、股票搭配選擇權、高收益債，享受三類資產共同具備的資本成長機會 晨星評級五顆星*(截至2018/06/30)
                    </div>
                    <div class="f-reason">
                        <div class="rs-table">
                            <div class="rs-tr">
                                <div class="rs-th">績效表現(%)</div>
                                <div class="rs-th">一年</div>
                                <div class="rs-th">二年</div>
                                <div class="rs-th">三年</div>
                                <div class="rs-th">成立以來</div>
                            </div>
                            <div class="rs-tr">
                                <div class="rs-td">新台幣績效(%) </div>
                                <div class="rs-td">6.11</div>
                                <div class="rs-td">9.23</div>
                                <div class="rs-td">12.09</div>
                                <div class="rs-td">27.21</div>
                            </div>
                            <div class="rs-tr">
                                <div class="rs-td">同類型平均績效(%)</div>
                                <div class="rs-td">2.33</div>
                                <div class="rs-td">4.23</div>
                                <div class="rs-td">5.47</div>
                                <div class="rs-td">34.18</div>
                            </div>
                            <div class="rs-tr">
                                <div class="rs-td">同類型績效排名</div>
                                <div class="rs-td">2/22</div>
                                <div class="rs-td">2/21</div>
                                <div class="rs-td">2/19</div>
                                <div class="rs-td">1/22</div>
                            </div>
                        </div>
                    </div>
                    <div class="f-apply">
                        <div class="f-btn btn-applynow"><a href="https://www.fundsyes.com/cnYES.aspx?TxType=3&FundID=B20074&SCode=0">立即申購</a></div>
                        <div class="f-btn btn-free"><a href="https://www.fundsyes.com/Account/open_notice.aspx
                            ">免費開戶</a></div>
                        <div class="f-tnc">
                            <ul>
                                <li>「天天選月月扣」扣款最低只要NT$<span class="red">999</span></li>
                                <li>「天天選月月扣」新申購三大品牌基金，享 0.3% 手續費優惠。2018/10/31前成功扣款滿3次，<span class="red">送6個月0手續費</span>優惠(2018/11/1~2019/4/30)。</li>
                            </ul>
                        </div>
                    </div>
                    <div class="divide"></div>
                    <div class="f-tnc f-tncinfo">資料提供：晨星 2018/06/30，類別為美元平衡型股債混合，同類平均績效、績效排名均係統一以新台幣計算績效，計算基礎：總回報、資產淨值對資產淨值、已扣除年費、總收益再投資。該等數據並未計入首次認購費；倘已支付首次認購費，表現將較所示遜色。定期定額計算方式：1.假設每期投入 新台幣10,000元，扣款日為每月月底；2.投資人因不同時間進場，將有不同之投資績效，過去績效亦不代表未來收益之保證。</div>
                </div>
            </div>
            <!-- fund 2 -->
            <div class="fund-intro">
                <div class="f-title">貝萊德世界科技基金 A2</div>
                <div class="f-content">
                    <div class="rs-txt"><span>推薦理由：</span>總資產超過7成投資於科技公司，且兼顧中小型公司，不放過任何成長爆發力來源，晨星綜合評級四顆星*(截至2017/12/31)<br>
                        <ul>
                            <li>總資產超過70%投資於科技公司的股權證券</li>
                            <li>投資兼顧中小型公司，不放過任何爆發力來源</li>
                            <li>晨星綜合評級四顆星*(截至2017/12/31)</li>
                        </ul>
                    </div>
                    <div class="f-reason">
                        <div class="rs-table">
                            <div class="rs-tr">
                                <div class="rs-th">績效表現(%)</div>
                                <div class="rs-th">一年</div>
                                <div class="rs-th">二年</div>
                                <div class="rs-th">三年</div>
                                <div class="rs-th">成立以來</div>
                            </div>
                            <div class="rs-tr">
                                <div class="rs-td">新台幣績效(%)</div>
                                <div class="rs-td">20.12</div>
                                <div class="rs-td">42.37</div>
                                <div class="rs-td">56.11</div>
                                <div class="rs-td">144.05</div>
                            </div>
                            <div class="rs-tr">
                                <div class="rs-td">同類型平均績效(%)</div>
                                <div class="rs-td">11.05</div>
                                <div class="rs-td">25.563</div>
                                <div class="rs-td">36.54</div>
                                <div class="rs-td">133.09</div>
                            </div>
                            <div class="rs-tr">
                                <div class="rs-td">同類型績效排名</div>
                                <div class="rs-td">1/18</div>
                                <div class="rs-td">1/18</div>
                                <div class="rs-td">1/17</div>
                                <div class="rs-td">1/18</div>
                            </div>
                        </div>
                    </div>
                    <div class="f-apply">
                        <div class="f-btn btn-applynow"><a href="https://www.fundsyes.com/cnYES.aspx?TxType=3&FundID=B20074&SCode=0">立即申購</a></div>
                        <div class="f-btn btn-free"><a href="https://www.fundsyes.com/Account/open_notice.aspx
                            ">免費開戶</a></div>
                        <div class="f-tnc">
                            <ul>
                                <li>「天天選月月扣」扣款最低只要NT$<span class="red">999</span></li>
                                <li>「天天選月月扣」新申購三大品牌基金，享 0.3% 手續費優惠。2018/10/31前成功扣款滿3次，<span class="red">送6個月0手續費</span>優惠(2018/11/1~2019/4/30)。</li>
                            </ul>
                        </div>
                    </div>
                    <div class="divide"></div>
                    <div class="f-tnc f-tncinfo">資料提供：晨星 2018/06/30，類別為產業股票 - 科技，同類平均績效、績效排名均係統一以新台幣計算績效，計算基礎：總回報、資產淨值對資產淨值、已扣除年費、總收益再投資。該等數據並未計入首次認購費；倘已支付首次認購費，表現將較所示遜色。定期定額計算方式：1.假設每期投入 新台幣10,000元，扣款日為每月月底；2.投資人因不同時間進場，將有不同之投資績效，過去績效亦不代表未來收益之保證。</div>
                </div>
            </div>
            <!-- fund 3 -->
            <div class="fund-intro">
                <div class="f-title">摩根基金-中國基金-JPM中國(美元)-A股(累計)</div>
                <div class="f-content">
                    <div class="rs-txt"><span>推薦理由：</span>掌握中國政策，瞄準受惠潛力股，中港台團隊掌握第一手情報</div>
                    <div class="f-reason">
                        <div class="rs-table">
                            <div class="rs-tr">
                                <div class="rs-th">績效表現(%)</div>
                                <div class="rs-th">一年</div>
                                <div class="rs-th">二年</div>
                                <div class="rs-th">三年</div>
                                <div class="rs-th">成立以來</div>
                            </div>
                            <div class="rs-tr">
                                <div class="rs-td">新台幣績效(%)</div>
                                <div class="rs-td">6.38</div>
                                <div class="rs-td">24.61</div>
                                <div class="rs-td">31.56</div>
                                <div class="rs-td">75.92</div>
                            </div>
                            <div class="rs-tr">
                                <div class="rs-td">同類型平均績效(%)</div>
                                <div class="rs-td">3.27</div>
                                <div class="rs-td">17.67</div>
                                <div class="rs-td">24.17</div>
                                <div class="rs-td">116.55</div>
                            </div>
                            <div class="rs-tr">
                                <div class="rs-td">同類型績效排名</div>
                                <div class="rs-td">3/21</div>
                                <div class="rs-td">3/21</div>
                                <div class="rs-td">3/21</div>
                                <div class="rs-td">6/20</div>
                            </div>
                        </div>
                    </div>
                    <div class="f-apply">
                        <div class="f-btn btn-applynow"><a href="https://www.fundsyes.com/cnYES.aspx?TxType=3&FundID=B09005&SCode=0">立即申購</a></div>
                        <div class="f-btn btn-free"><a href="https://www.fundsyes.com/Account/open_notice.aspx">免費開戶</a></div>
                        <div class="f-tnc">
                            <ul>
                                <li>「天天選月月扣」扣款最低只要NT$<span class="red">999</span></li>
                                <li>「天天選月月扣」新申購三大品牌基金，享 0.3% 手續費優惠。2018/10/31前成功扣款滿3次，<span class="red">送6個月0手續費</span>優惠(2018/11/1~2019/4/30)。</li>
                            </ul>
                        </div>
                    </div>
                    <div class="divide"></div>
                    <div class="f-tnc f-tncinfo">資料提供：晨星 2018/06/30，類別為中國股票，同類平均績效、績效排名均係統一以新台幣計算績效，計算基礎：總回報、資產淨值對資產淨值、已扣除年費、總收益再投資。該等數據並未計入首次認購費；倘已支付首次認購費，表現將較所示遜色。定期定額計算方式：1.假設每期投入 新台幣10,000元，扣款日為每月月底；2.投資人因不同時間進場，將有不同之投資績效，過去績效亦不代表未來收益之保證。</div>
                </div>
            </div>
        </div>
    </section>
    <section class="section" id="activity-method">
        <div class="container">
            <h1><img src="assets/images/activity-method.png" alt=""></h1>
            <ul class="act-item">
                <li>活動期間：2018/07/25 ~ 2018/10/31。</li>
                <li>此活動限定三大品牌基金：<span>安聯</span>全系列基金、<span>貝萊德</span>全系列基金、<span>摩根</span>全系列基金。</li>
                <li>「天天選月月扣」新申購三大品牌系列基金，即享 0.3% 手續費優惠。2018年10月31日以前成功扣款滿3次，11月起續扣享2019年4月底前0手續費優惠，相當於享有6個月的0手續費優惠，2019年5月1日起恢復0.3%手續費優惠。<br>
                    <img src="assets/images/chart.jpg" alt=""></li>
                <li>成功扣款滿3次，係指同一基金之同一扣款幣別連續成功扣款次數達3次(含)以上。若同一基金不同扣款幣別應分開計算，不與其他扣款幣別合併。不同扣款幣別可分別享有0手續費優惠。</li>
                <li>每月不限扣款乙次，唯每月最多可扣款 31 次。</li>
                <li>一經停止扣款，即失去 0 手續費回饋資格。於活動期間復扣之天天選月月扣契約，亦不適用此優惠。</li>
                <li>本活動最低申購金額門檻為NT$999元，各幣別最低扣款門檻請參考下圖<br>
                    <div class="l-table">
                        <div class="l-tr">
                            <div class="l-th">基金公司</div>
                            <div class="l-th">新台幣</div>
                            <div class="l-th">美元/歐元/澳幣/英鎊/加幣</div>
                            <div class="l-th">南非幣</div>
                            <div class="l-th">日圓</div>
                        </div>
                        <div class="l-tr">
                            <div class="l-td">貝萊德全系列/ 安聯全系列 / 摩根全系列</div>
                            <div class="l-td"><span>999</span></div>
                            <div class="l-td">50</div>
                            <div class="l-td">600</div>
                            <div class="l-td">6,000</div>
                        </div>
                    </div>
                </li>
                <li>天天選月月扣相關交易問題，詳見「客戶服務專區＞常見問題＞天天選月月扣」。</li>
                <li>鉅亨基金交易平台保留隨時終止，或調整優惠活動之權利。</li>
            </ul>
            <div class="low-apply">
                <!-- <div class="l-title">
                    <h2>最低申購門檻</h2>
                </div> -->
                <!-- <div class="l-table">
                    <div class="l-tr">
                        <div class="l-th">基金公司</div>
                        <div class="l-th">新台幣</div>
                        <div class="l-th">美元/歐元/澳幣/英鎊/加幣</div>
                        <div class="l-th">南非幣</div>
                        <div class="l-th">日圓</div>
                    </div>
                    <div class="l-tr">
                        <div class="l-td">貝萊德全系列/ 安聯全系列 / 摩根全系列</div>
                        <div class="l-td"><span>999</span></div>
                        <div class="l-td">50</div>
                        <div class="l-td">600</div>
                        <div class="l-td">6,000</div>
                    </div>
                </div> -->
                <div class="btn-allfree">
                    <a href="#"><img src="assets/images/free-btn.png" alt=""></a>
                </div>
                <div class="divide-line"></div>
            </div>
            <ul class="act-tnc">
                <li>本資料僅供參考，鉅亨網投顧已盡力就可靠之資料來源提供正確之意見與消息，但無法保證該等資料之完整性。內容涉及新興市場部分，因其波動性與風險程度可能較高，且其政治與經濟情勢穩定度可能低於已開發國家，也可能使資產價值受不同程度之影響，匯率走勢亦可能影響所投資之海外資產價值變動。投資人應依其本身之判斷投資，若有損益或因使用本資料所生之直接或間接損失，應由投資人自行負責，本公司無須負擔任何責任。</li>
                <li>本文提及之經濟走勢預測不必然代表基金之績效，基金投資風險請詳閱基金公開說明書及投資人須知。<br>基金經金管會核准或同意生效，惟不表示絕無風險，基金經理公司以往之經理績效不保證基金最低投資收益；基金經理公司除盡善良管理人之注意義務外，不負責基金之盈虧，亦不保證最低之收益，投資人申購前應詳閱基金公開說明書及投資人須知。</li>
                <li>各銷售機構備有基金公開說明書及投資人須知，歡迎索取。有關基金應負擔之費用（境外基金含分銷費用），已揭露於基金之公開說明書或投資人須知中，投資人可至公開資訊觀測站或境外基金資訊觀測站中查詢。</li>
                <li class="red">投資人投資以高收益債券為訴求之基金不宜占其投資組合過高之比重。基金經金管會核准或同意生效，惟不表示絕無風險。由於高收益債券之信用評等未達投資等級或未經信用評等，且對利率變動的敏感度甚高，故基金可能會因利率上升、市場流動性下降，或債券發行機構違約不支付本金、利息或破產而蒙受虧損。投資人應審慎評估，該等基金不適合無法承擔相關風險之投資人。基金經理公司以往之經理績效不保證基金最低投資收益；基金經理公司除盡善良管理人之注意義務外，不負責基金之盈虧，亦不保證最低之收益，投資人申購前應詳閱基金公開說明書及投資人須知。</li>
                <li>投資於Rule 144A債券，境內高收益債券基金最高可投資基金總資產30%;境內以投資新興市場國家為主之債券型基金及平衡型基金最高可投資基金總資產15%;境外高收益債券基金可能有部分投資於美國Rule 144A債券，該債券屬私募性質，較可能發生流動性不足，財務訊息揭露不完整或因價格不透明導致波動性較大之風險。</li>
                <li>不動產證券化型基金得投資於高收益債券，其投資總金額不得超過基金淨資產價值之30％。</li>
                <li>投資人因不同時間進場，將有不同之投資績效，過去之績效亦不代表未來績效之保證。</li>
                <li>基金配息率不代表基金報酬率，且過去配息率不代表未來配息率；基金淨值可能因市場因素而上下波動。</li>
                <li>基金配息前未先扣除應負擔之相關費用。基金的配息可能由基金的收益或本金中支付。任何涉及由本金支出的部份，可能導致原始投資金額減損。</li>
                <li>境外基金投資大陸地區證券市場以掛牌上市有價證券為限，基金投資總金額不得超過該基金淨資產價值10%(各基金實際可投資大陸地區之限額應視個別基金信託契約之規範)；境內基金則依各基金實際可投資大陸地區之限額，應視個別基金信託契約之規範。</li>
            </ul>
        </div>
    </section>
</div>

<!-- @@close -->


<!-- @@block  =  head-js -->
<!-- index_page1 js -->
<script src="assets/js/index_p1.js"></script>
<!-- @@close -->