<footer>
    <div class="footerBar">
        <div class="container">
            <p> 鉅亨網證券投資顧問股份有限公司 台北市信義區松仁路89號2樓A-2室 106金管投顧新字034號 客服信箱：cs@fundsyes.com</p>
            <p>服務專線：(02)2720-8126 服務時間：09:00-17:30 鉅亨網投顧獨立經營管理 </p>

            <div class="footer-icon">
                <ul>
                    <li>
                        <a class="f-icon" id="facebook" href="https://www.facebook.com/share.php?u=http://bit.ly/2KZhFon" target="_blank"></a>
                    </li>
                    <li>
                        <a class="f-icon" id="line" href="http://line.me/R/msg/text/?《每月999 財富久久久》安聯、貝萊德、 摩根三大系列，天天選月月扣起扣最低只要NT$999，再送6個月0手續費！" target="_blank"></a>
                    </li>
                    <li>
                        <a class="f-icon" id="email" href="mailto:?subject=《每月999 財富久久久》&amp;body=安聯、貝萊德、 摩根三大系列，天天選月月扣起扣最低只要NT$999，再送6個月0手續費!" target="_blank"></a>
                    </li>
                    <li>
                        <a class="f-icon" id="gotop" href="javascript:;">TOP</a>
                    </li>
                    <li class="free999phone">
                        <a href="javascript:;"><img src="assets/images/999free.png" alt=""></a>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</footer>