<div class="footer-icon">
    <ul>
        <li>
            <a class="f-icon" id="facebook" href="https://www.facebook.com/share.php?u=http://bit.ly/2KZhFon" target="_blank"></a>
        </li>
        <li>
            <a class="f-icon" id="line" href="http://line.me/R/msg/text/?摩根來臨，鉅亨來０！7/31 前單筆申購摩根基金０手續費，難怪智者都在鉅亨買基金！馬上了解 http://bit.ly/2wJUYl4" target="_blank"></a>
        </li>
        <li>
            <a class="f-icon" id="email" href="mailto:?subject=與你分享摩根基金在鉅亨上架囉！０手續費超優惠！&amp;body=好消息！%0D%0A在鉅亨可以買到摩根基金，而且7/31前單筆申購跟天天選月月扣都是０手續費！不限筆數、不限金額！%0D%0A快來了解： http://bit.ly/2rFXX8S" target="_blank"></a>
        </li>
        <li>
            <a class="f-icon" id="gotop" href="javascript:;">TOP</a>
        </li>
    </ul>
</div>

<footer>
    <div class="footerBar">
        <div class="container">
            <p> 鉅亨網證券投資顧問股份有限公司 台北市信義區松仁路89號2樓A-2室 106金管投顧新字034號 客服信箱：cs@fundsyes.com</p>
            <p>服務專線：(02)2720-8126 服務時間：09:00-17:30 鉅亨網投顧獨立經營管理 </p>
        </div>
    </div>
</footer>