<header>
    <div class="container">
        <a id="logo" href="index.html">
            <img class="" src="assets/images/logo.png" alt="">
        </a>
        <div class="container-fluid nav-right">
            <div class="button_container" id="nav-toggle">
                <span class="top"></span>
                <span class="middle"></span>
                <span class="bottom"></span>
            </div>
            <nav class="overlay" id="overlay">
                <div class="overlay-nav">
                    <ul>
                        <li class="nav-active"><a href="javascript:;">摩根與智者</a></li>
                        <li class=""><a href="javascript:;">智者推薦</a></li>
                        <li class=""><a href="javascript:;">智者在鉅亨</a></li>
                        <li><a href="#">立即開戶</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</header>