<!DOCTYPE html>
<html lang="en">

<head>
    <title>鴻海獎學鯨首頁- 夢想無限只要你勇敢實踐 第二屆鴻海獎學鯨計劃即將開跑囉！</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale= 1.0, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="Description" content="生命有無限潛力，生活有無限發展的可能，鴻海教育基金會相信每位學子都有欲追求的理想與夢想，如同鯨魚遨遊於鴻海之中。 本會以此信念，特設獎助學金，並取其意命名為「鴻海獎學鯨」。" />
    <meta name="Keywords" content="鴻海、鴻海獎學金、鴻海獎學鯨、獎學金、鴻海獎助學金、科技獎學金、報名獎學金、申請獎學金、foxconnscholarship" />
    <meta name="geo.region" content="tw" />
    <meta name="rating" content="general" />
    <meta property="og:title" content="鴻海獎學鯨" />
    <meta property="og:description" content="" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://scholarship.foxconnfoundation.org" />
    <meta property="og:image" content="https://scholarship.foxconnfoundation.org/images/home/s3-s3contentBGm.jpg" />
    <link rel="shortcut icon" href="https://scholarship.foxconnfoundation.org/tag.png" />
    <link rel="stylesheet" type="text/css" href="assets/css/jquery.fullPage.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/examples.css" />
    <link rel="stylesheet" href="assets/css/slick.css" type="text/css" media="all" />
    <link rel="stylesheet" href="assets/css/slick-theme.css" type="text/css" media="all" />
    <link rel="stylesheet" href="assets/css/style.css" type="text/css" media="all" />

    <!-- @@placeholder= head-css -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.0/jquery.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js'></script>
    <script type="text/javascript" src='assets/js/plugins/scrolloverflow.js'></script>
    <script type="text/javascript" src='assets/js/plugins/jquery.fullPage.js'></script>
    <script type="text/javascript" src="assets/js/plugins/slick.min.js"></script>
    <script type="text/javascript" src="assets/js/common.js"></script>


</head>

<body>
    <!-- @@include ./_header.html -->

    <!-- @@placeholder= content -->

    <!-- @@placeholder= head-js -->
</body>

</html>