<!DOCTYPE html>
<html lang="en">

<head>
    <title>安聯、貝萊德、 摩根，天天選月月扣最低只要NT$999</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale= 1.0, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="Description" content="xxx" />
    <meta name="Keywords" content="xxx" />
    <meta name="geo.region" content="tw" />
    <meta name="rating" content="general" />
    <meta property="og:title" content="安聯、貝萊德、 摩根，天天選月月扣最低只要NT$999" />
    <meta property="og:description" content="" />
    <meta property="og:type" content="website" />
    <link rel="stylesheet" href="assets/css/style.css" type="text/css" media="all" />

    <!-- @@placeholder= head-css -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.0/jquery.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js'></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/debug.addIndicators.min.js"></script>
    <script type="text/javascript" src="assets/js/common.js"></script>


</head>

<body>
    <!-- @@include ./_header.html -->

    <!-- @@placeholder= content -->

    <!-- @@include ./_footer.html -->

    <!-- @@placeholder= head-js -->
</body>

</html>